MusicReader==0.3.0
yt_dlp==2026.6.9
torch==2.12.1
torchaudio==2.11.0
demucs==4.0.1
librosa==0.11.0
pretty_midi==0.2.11
basic-pitch==0.4.0
alembic==1.13.3
fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
pydantic>2.0.0,<=3.0.0
pydantic-settings
python-dotenv==1.0.0
openai==2.37.0
pytest==9.0.3
pytest-asyncio==0.21.1
google-cloud-secret-manager
python-multipart
itsdangerous
selenium
webdriver-manager
pymongo
scikit-learn==1.8.0
starlette==0.27.0

VideoEditor==0.1.3
absl-py
annotated-types
antlr4-python3-runtime
anyio
astunparse
attrs
audioread
basic-pitch
beautifulsoup4
blinker
brotli
bs4
capsolver
certifi
cffi
charset-normalizer
cloudpickle
colorama
cryptography
decorator
demucs
distro
dora_search
einops
et_xmlfile
filelock
flatbuffers
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
grpcio-tools
h11
h2
h5py
hpack
httpcore
httpx
hyperframe
idna
importlib_resources
iniconfig
Jinja2
jiter
joblib
julius
kaitaistruct
keras
lameenc
lazy-loader
libclang
librosa
llvmlite
Markdown
MarkupSafe
mido
mir_eval
ml-dtypes
mpmath
msgpack
mutagen
networkx
numba
oauthlib
omegaconf
openai
openpyxl
openunmix
opt_einsum
outcome
packaging
pandas
platformdirs
pluggy
pooch
pretty-midi
protobuf
pyaaf2
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydivert
Pygments
pyOpenSSL
pyparsing
PySocks
pytest
python-dateutil
python-dotenv
PyYAML
requests
requests-oauthlib
resampy
retrying
scipy
selenium
selenium-wire
six
sniffio
sortedcontainers
soundfile
soupsieve
soxr
submitit
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
torch
torchaudio
torchcodec
tqdm
treetable
trio
trio-websocket
typing-inspection
typing_extensions
tzdata
urllib3
webdriver-manager
websocket-client
Werkzeug
wrapt
wsproto
yt-dlp
zstandard
numpy<2